Django==5.2.14
djangorestframework==3.17.1
celery==5.6.3
redis==8.0.0
psycopg[binary]==3.3.4
pgvector==0.4.2
python-dotenv==1.2.2
django-storages==1.14.6
boto3==1.43.16
django-allauth==65.13.0
openai==1.108.1
PyMuPDF==1.26.4
